.img1{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.all{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.img1{
    margin-left: 60px;
}
.datainfo{
    margin-right: 140px;
}
.toview{
    margin-right: 140px;
    border: solid;
    border-width: thin;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.toview:hover{
    background-color: darkgray;
}
@media (min-height: 800px) and (max-height: 1400px){
    .img1{
        width: 300px;
        height: 300px;
    }
    .datainfo{
        font-size: 20px;
        margin-left: 40px;
    }
}
