.header{
    text-align: center;
}
hr{
    margin-left: 60px;
    margin-right: 60px;
}
.level{
    font-size: 18px;
    margin-right: 55px;
    margin-left: 55px;
}
.level1{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 55px;
}
.back{
    margin-left: 55px;
    font-size: 18px;
    margin-top: 100px;
    cursor: pointer;
}